body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  margin: 0px 450px 800px 450px;
}
input {
  margin-top: 20px;
  border-radius: 15px;
  padding: 8px 15px;
  background-color: #fafafa;
}
h1,
h2,
h3 {
  text-align: center;
}
h1 {
  font-size: 60px;
  margin: 0px;
}

.tempr {
  text-align: center;
  margin-bottom: 0px;
}
.temperature {
  color: #2f4f4f;
  font-size: 40px;
}
.humidity {
  color: #2f4f4f;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.temp {
  color: #2f4f4f;
  font-size: 30px;
}

h3 {
  color: #2f4f4f;
  margin-bottom: 50px;
  font-size: 30px;
}
.fa-sun {
  text-align: left;
  color: #ff7f50;
  font-size: 100px;
  margin-bottom: 0px;
}
.row {
  text-align: center;
  margin: 1em;
  font-size: 20px;
}
.container {
  padding-bottom: 10px;
}
.body-app {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.footer {
  text-align: center;
  color: #2f4f4f;
}
